* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #74b9ff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

.grid {
  width: 700px;
  height: 700px;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
  margin-bottom: 30px;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 6);
  height: calc(100% / 6);
  border: 1px solid black;
  font-size: 3rem;
  font-weight: bold;
}
button {
  padding: 10px;
  font-size: 1.5rem;
 text-transform: uppercase;
}


.under-five {
  background-color: #fffa65;
}

.above-five {
  background-color: #3ae374;
}
